@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  html {
    @apply bg-background text-foreground;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-8 w-8 items-center justify-center rounded-full border-0 border-background bg-muted text-center -indent-px font-mono text-base font-medium;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

h1 > .subheading-anchor::before,
h2 > .subheading-anchor::before,
h3 > .subheading-anchor::before,
h4 > .subheading-anchor::before,
h5 > .subheading-anchor::before,
h6 > .subheading-anchor::before {
  color: transparent;
  width: 40px;
  height: 30px;
  display: inline-block;
  margin-left: -40px;
  padding-right: 10px;
  opacity: 50%;
  content: "# ";
  @apply transition-colors duration-200;
}
h1:hover > .subheading-anchor::before,
h2:hover > .subheading-anchor::before,
h3:hover > .subheading-anchor::before,
h4:hover > .subheading-anchor::before,
h5:hover > .subheading-anchor::before,
h6:hover > .subheading-anchor::before {
  color: hsl(var(--muted-foreground));
}

.mdx ul > li::before {
  content: "—";
  position: absolute;
  left: 0;
  width: min-content;
  height: 100%;
  color: hsl(var(--muted-foreground));
  opacity: 40%;
  margin-left: -8px;
  list-style-type: none;
  transform: translateX(-100%);
}

li {
  position: relative;
}

* {
  text-decoration-color: hsl(var(--muted-foreground) / 50%);
  -webkit-tap-highlight-color: "transparent";
}

a:hover {
  text-decoration-color: hsl(var(--foreground));
  color: hsl(var(--foreground));
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

.steps:first-child > h3:first-child {
  @apply mt-0;
}

.steps > h3 {
  @apply mb-4 mt-8 text-base font-semibold;
}
